**.bak
**.rdb
**.hdb
**.flock
**.smart_action.txt
**.ddb
**.rpt
**.smsg
**.summary
**.sopcinfo
**.qmsg
db/ip/*
**.db_info
**.qws
**.cnf.cdb
**.cbx.xml
**.hif
**.kpt
**.tdf
**.cmp.*
**.hier_info
**.map*
**.cdb
**.sci
**.hsd
**.json
**.done
**.jdi
**.pin
**.pof
**.sld
**.sof
**.html
**.lpc.txt
**.smp_dump.txt
**.tdb
**.tmw_info
**.vpr.ammdb
incremental_db
**.hdl.mif
tetris.cdf